body {
  background-image: url(http://i.imgur.com/PM6XFTo.jpg);
  background-size: cover;                     
  background-repeat: no-repeat;
  background-position: center center;
}


.search1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-bottom: 100px;
}

.businesslist {
  display: flex;
  justify-content: center;
}