body {
  background-image: url(http://i.imgur.com/PM6XFTo.jpg);
  background-size: cover;                     
  background-repeat: no-repeat;
  background-position: center center;
}

div.maintext{
  height: 10em;
  position: relative }
div.maintext p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }