body {
  // background-image: url(http://i.imgur.com/4F6Z2K7.jpg);
  background-image: url(http://i.imgur.com/PM6XFTo.jpg);
  // background-image: url(http://i.imgur.com/6knzFXk.jpg);
  background-size: cover;                     
  background-repeat: no-repeat;
  background-position: center center;
}


.search1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-bottom: 100px;
}

.businesslist {
  display: flex;
  justify-content: center;
  // background-color: white;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}