.businesses-index-content h2 {
  font-weight: 400;
  color: $dark-gray;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.businesses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.business {
  padding: 18px;
  width: 700px;
}

.business-image img {
  height: 219px;
  border-bottom: 1px solid #DCDEDD;
  object-fit: cover;
}


.business-outline {
  border: 1px solid #DCDEDD;
  box-shadow: 0 2px 6px -2px rgba(22,22,22,0.45);
  display: flex;
  background-color: white;
}

.business-info {
  padding: 24px 30px 30px 30px;
}

.business-category {
  color: #626369;
  font-weight: 500;
  margin-bottom: 12px;
  font-size: 13px;
}

.business-category:hover {
  color: #060F46;
}

.business-title-description a:hover {
  color: #060F46;
}

.business-title-description {
  font-size: 15px;
  color: #95959E;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 72px;
}

.business-title-description a {
  color: $dark-gray;
}

.creator-info {
  padding: 20px 0;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.creator-info img {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  border: 1px solid #DCDEDD;
}

.by {
  color: #95959E;
}

.creator-info p {
  font-weight: 500;
}

.business-funding-stats {
  padding-top: 12px;
}

.business-funding-stats div {
  display: flex;
  line-height: 25px;
  font-size: 14px;
}

.business-funding-stats div > span {
  font-weight: 700;
  color: #626369;
}

.business-funding-stats div > p {
  font-weight: 400;
  color: #95959E;
}

.progress-bar {
  width: 100%;
}