.businesses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.business {

  width: 800px;
}

.business-image img {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #DCDEDD;
  object-fit: cover;
  max-width: 200px;
}


.business-outline {
  border: 1px solid #DCDEDD;
  // box-shadow: 0 2px 6px -2px rgba(22,22,22,0.45);
  display: flex;
  background-color: white;
  width: 75%;
  height: 130px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 2px;
}

.business-outline:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.businesscards {
  width: 100%;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  max-width: 50em;
  line-height: 1.5;
  padding: 0.5em 1.5em;
  color: #555;
  
  strong {
    color: #333;
    font-size: 18px;
  }

  strong:hover {
    text-decoration: underline;
  }
  
  h1 {
    text-align: right;
    line-height: 20px;
  }
  
  h3 {
    line-height: 20px;
    padding-bottom: 0.5em;
  }
  
  ul {
    li {
      margin: 0px 0;
    }
  }
  
}

.business-index {
  // background: white;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.businesslist {
  height: 100%;
  margin-left: 45px;
}

.card-title {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: left;
}
// .business-info {
//   padding: 24px 30px 30px 30px;
// }

// .business-category {
//   color: #626369;
//   font-weight: 500;
//   margin-bottom: 12px;
//   font-size: 13px;
// }
