.businesses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.business {
  padding: 18px;
  width: 800px;
}

.business-image img {
  height: 150px;
  width: 150px;
  border-bottom: 1px solid #DCDEDD;
  object-fit: cover;
}


.business-outline {
  border: 1px solid #DCDEDD;
  box-shadow: 0 2px 6px -2px rgba(22,22,22,0.45);
  display: flex;
  background-color: white;
}

.businesscards {
  width: 100%;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  max-width: 50em;
  line-height: 1.5;
  padding: 0.5em 2em;
  color: #555;
  
  strong {
    color: #333;
    font-weight: bold;
  }
  
  h1 {
    text-align: center;
    line-height: 20px;
  }
  
  h3 {
    line-height: 20px;
    padding-bottom: 0.5em;
  }
  
  ul {
    li {
      margin: 0px 0;
    }
  }
  
}

// .business-info {
//   padding: 24px 30px 30px 30px;
// }

// .business-category {
//   color: #626369;
//   font-weight: 500;
//   margin-bottom: 12px;
//   font-size: 13px;
// }
