#google-map {
  width: 600px;
  height: 600px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 70px;
}

#google-map:hover {
  box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.map-window {
  text-align: center;
}

.map-name {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 14px;
}