.search-bar {
  padding: 10px;
  padding-top: 12px;
  width: 100%;
  height: 70px;
  color: $gray;
  border: 1px solid $light-gray;
  // border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px 0px;
  border-bottom: 2px solid transparent;
  background-color: rgba(255, 255, 255, 1);
  width: 600px;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search-bar:hover {
  box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

